In [102]:
from selenium import webdriver
from time import sleep
import pandas as pd

# Driver setting
options = webdriver.ChromeOptions()
prefs = {'profile.default_content_settings.popups': 0, 'download.default_directory': data_dir}
options.add_experimental_option('prefs', prefs)

# Chromedriver
driver = webdriver.Chrome(chrome_options=options)
driver.get(url)

# Find excel and read excel
excel_download_btn_ele = driver.find_element_by_xpath("//a[@href='/construction/nrc/xls/permits_cust.xls']")
excel_url = excel_download_btn_ele.get_attribute('href')

sleep(5)
driver.quit()

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [106]:
# Save into dataframe form , the number 2 implies "sheet 2"(where the Seasonally adjusted data saved)
df_SA = pd.read_excel(excel_url, 2)
# date
col2 = df_SA[df_SA.columns[0]]
# total value
col3 = df_SA[df_SA.columns[1]]

df_UA = pd.read_excel(excel_url, 1)
col1 = df_UA[df_UA.columns[1]]

# new list for date
date = []
# Seasonally Adjusted Annual Rate
SA_value = []
UA_value = []
# Data starts from row 8 to row 716 (1960-1-1 to 2019-1-1 = 12*59+1 = 709 = 716 - 8 + 1)
# Save into list
for i in range(8,717):
    date.append(col2[i])
    SA_value.append(col3[i])
    UA_value.append(col1[i])
# From list to dataframe
value_dict = {"Date":date, "Value (not seasoning adjusted)" : UA_value,"Value (seasoning adjusted)": SA_value}
value_df = pd.DataFrame(value_dict)
# Finally we have
value_df.head(20)

         Date  Value (not seasoning adjusted)  Value (seasoning adjusted)
0  1960-01-01                            75.7                        1092
1  1960-02-01                            79.0                        1088
2  1960-03-01                           119.0                         955
3  1960-04-01                           127.9                        1016
4  1960-05-01                           120.8                        1052
5  1960-06-01                           120.9                         958
6  1960-07-01                           112.3                         999
7  1960-08-01                           106.4                         994
8  1960-09-01                           102.5                         984
9  1960-10-01                            94.6                         972
10 1960-11-01                            75.8                         979
11 1960-12-01                            73.5                         951
12 1961-01-01                            62.6                         969
13 1961-02-01                            68.1                         961
14 1961-03-01                            89.0                        1000
15 1961-04-01                           101.1                        1002
16 1961-05-01                           103.4                        1027
17 1961-06-01                            94.8                        1070
18 1961-07-01                            86.3                        1083
19 1961-08-01                            93.7                        1159