In [102]:
from selenium import webdriver
from time import sleep
import pandas as pd

# Driver setting
options = webdriver.ChromeOptions()
prefs = {'profile.default_content_settings.popups': 0, 'download.default_directory': data_dir}
options.add_experimental_option('prefs', prefs)

# Chromedriver
driver = webdriver.Chrome(chrome_options=options)
driver.get(url)

# Find excel and read excel
excel_download_btn_ele = driver.find_element_by_xpath("//a[@href='/construction/nrc/xls/permits_cust.xls']")
excel_url = excel_download_btn_ele.get_attribute('href')

sleep(5)
driver.quit()

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [103]:
# Save into dataframe form , the number 2 implies "sheet 2"(where the Seasonally adjusted data saved)
df = pd.read_excel(excel_url, 2)
# date
col2 = df[df.columns[0]]
# total value
col3 = df[df.columns[1]]

# new list for time
time = []
# Seasonally Adjusted Annual Rate
total_value = []
# Data starts from row 8 to row 716 (1960-1-1 to 2019-1-1 = 12*59+1 = 709 = 716 - 8 + 1)
# Save into list
for i in range(8,717):
    time.append(col2[i])
    total_value.append(col3[i])
# from list to dataframe
value_dict = {"Date":time, "Value":total_value}
value_df = pd.DataFrame(value_dict)
# finally we have
value_df.head(20)

         Date  Value
0  1960-01-01   1092
1  1960-02-01   1088
2  1960-03-01    955
3  1960-04-01   1016
4  1960-05-01   1052
5  1960-06-01    958
6  1960-07-01    999
7  1960-08-01    994
8  1960-09-01    984
9  1960-10-01    972
10 1960-11-01    979
11 1960-12-01    951
12 1961-01-01    969
13 1961-02-01    961
14 1961-03-01   1000
15 1961-04-01   1002
16 1961-05-01   1027
17 1961-06-01   1070
18 1961-07-01   1083
19 1961-08-01   1159